#access h1,#access h2,#access h3 {
    color: white;
}

#access h2 {
    margin: 0px;
}

#access h3 {
    margin: 0px;
    color: #ffffffbd;
}

#access span {
    display: flex;
    align-items: center;
    flex-direction: column;
}