.navbar {
    width: 100%;
    height: 50px;
    background: #F7F7F7;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
}

.logo-container {
    margin-left: 80px;
}

.logo-container {
    font-weight: 500;
    cursor: pointer;
}

.links-container {
    margin-right: 80px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}